<div>
    <form id="newUserForm">
        <label>Nombre</label>
        <input name="first_name">
        <label>Email</label>
        <input name="email">
        <input type="submit" value="REGISTRAR">
    </form>
</div>

<script src="scripts/home.js"></script>